<?xml version="1.0" encoding="utf-8" ?>

<module>

  <assemblies>
    <add assembly="EPiServerContentSearch" />
  </assemblies>

  <dojoModules>
    <add name="app" path="Scripts" />
  </dojoModules>

  <clientResources>
    <add name="epi-cms.widgets.base" path="Styles/searchcontentview.css" resourceType="Style"/>
  </clientResources>
</module>
