.page-search {
    overflow-y: scroll;
    height: 600px; 
}

.page-search {
    margin-left: 400px;
}
.page-search table.pagesTable { 
    border-collapse: collapse;
}
.page-search .pagesTable thead th {
    font-weight: bold;
}
.page-search .pagesTable thead th, .page-search .pagesTable tbody td {
    padding: 5px;
}

.page-search .pagesTable tr {
    border-bottom: 1px solid #ddd;
}

.page-search a.showall-link, .page-search a.page-item-link {
    text-decoration: underline !important;
}

.result-container {
    margin-top: 20px;
}

.filter-container {
    width: 129px;
    margin-right: 20px;
    padding-top: 5px;
}
.filter-container .filter-category {
    margin-bottom: 20px;
}
.filter-container .filter-category ul {
    margin-top: 5px;
}
.result-list { vertical-align: top; }

.active-filter { font-weight: bold;}
.search-header { margin-left: 156px;}